<h1>Here is your Idea</h1>

<h1> <%= @idea.title %> </h1>
<p> <%= @idea.body %> </p>
<p> <%= @idea.created_at %> </p>
<%= link_to "Edit", edit_idea_path(@idea) %> |
<%= link_to "Delete", idea_path(@idea), method: :delete, data: {confirm: "Are you sure?"} %>

<% if @like.present? && @like.persisted? %>
  <%= link_to "Un-Like", idea_like_path(@idea, @like), method: :delete %>
<% else %>
  <%= link_to "Like", idea_likes_path(@idea), method: :post %>
<% end %>

<h2>Comments</h2>
<% @idea.comments.each do |comment| %>
  <p><%= comment.body %></p>
  <hr>
<% end %>

<hr>

<% if @comment.errors.any? %>
  <ul>>
    <% @comment.errors.full_messages.each do |msg| %>>
      <li><%= msg %><li>>
    <% end %>>
  </ul>>
<% end %>

<h2>Add a Comment</h2>
<%= form_for [@idea, @comment] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
